<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "First Name"%><br />
    <%= f.text_field :firstName%>
  </div>
  <br>
  <div class="field">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lastName%>
  </div>
  <br>
  <div class="field">
    <%= f.label "Account Type" %>
    <%= f.select(:status_type, options_for_select([['Employer','Employer'],['Employee','Employee']])) %>
  </div>
  <br>
  <div class="field">
    <%= f.label :company%><br />
    <%= f.text_field :company%>
  </div>
  <br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <br>

  <div class="field">
    <p> Add Company Logo </p>
    <%= f.label :avatar do %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>