<% if user_signed_in? %>
  <p> Welcome <%= current_user.firstName %> <%= current_user.lastName %> </p>
  <p> You are signed as <%= current_user.status_type %><br>

  <% @users.each do |user| %>
      <% if user.avatar.url.present? %>
        <%= image_tag user.avatar.url(:thumb) %>
      <% end %>
      <%= user.email %><br/>
    <% end %>
  
<% end %>