<!DOCTYPE html>
<html>
<head>
  <title>Prototypev3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="border"></div>
  <div class="wrapper">
    <%= render 'layouts/users' %>
    <%= render 'layouts/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
